<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Wall</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  </head>
  <body>
    <nav>
      <h1>Coding Dojo Wall</h1>
    </nav>

  <form class="" action="/login" method="post">
    Email: <input type="text" name="email" value="bob@bob.com"><br>
    Password: <input type="password" name="password" value="123456789"><br>
    <input type="submit" name="submit" value="Login">
    <a href="/sign_up">Don't have an account? Signup!</a>
  </form>
  {% with messages= get_flashed_messages(with_categories=true)%}
  {%for message in messages %}
    {%if message[0]!='green'%}
    <p>{{message[1]}}</p>
    {% endif %}
  {% endfor %}
  {% endwith %}
  </body>
</html>
